{{define "base"}}
<h2 id="select-header">Select album(s)</h2>
<form hx-post="notifypost" hx-target="#select-header">
    <ul>
        {{ range .Albums }}
        <li>
            <div class="album-title">
                {{ .AlbumName }}
            </div>
            <label for="{{ .Id }}">
                <input id="{{ .Id }}" type="checkbox" name="album" value="{{ .Id }}" {{ if .IsSubscribed }}checked{{end}}>
            </label>
        </li>
        {{ end }}
    </ul>
    <input id="apiKey" name="apiKey" value="{{ .ApiKey }}" style="visibility: hidden" type="text">
    <button type="submit">Save subscription me!</button>
</form>
{{ end}}