{{define "base"}}
<h2>Select album(s)</h2>
<form hx-post="notifypost">
    <ul>
        {{ range .Albums }}
        <li>
            <div class="album-title">
                {{ .AlbumName }}
            </div>
            <label for="{{ .Id }}">
                <input id="{{ .Id }}" type="checkbox" name="album" value="{{ .Id }}" {{ if .IsSubscribed }}checked{{end}}>
            </label>
        </li>
        {{ end }}
    </ul>

    <h3>Notify Me</h3>
    <label for="email">Email</label>
    <input type="text" id="email" name="email">
    <label for="name">UserName</label>
    <input id="name" name="name" type="text">
    <input id="apiKey" name="apiKey" value="{{ .ApiKey }}" style="visibility: hidden" type="text">
    <button type="submit">Notify me!</button>
</form>
{{ end}}