{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Title</title>
    <!-- Also link to some fonts hosted by Google -->
    <link
            rel="stylesheet"
            href="../static/css/main.css"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?
family=Ubuntu+Mono:400,700"
    />
    <script src="https://kit.fontawesome.com/824b5fc0f9.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/idiomorph@0.3.0/dist/idiomorph-ext.min.js"></script>
</head>
<body id="body">
<header>
    <h1>Get Notified!</h1>
</header>
{{ template "main" .}}
<script
        src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js"
        integrity="sha384-BBDmZzVt6vjz5YbQqZPtFZW82o8QotoM7RUp5xOxV3nSJ8u2pSdtzFAbGKzTlKtg"
        crossorigin="anonymous"
></script>
</body>
</html>
{{end}}
